<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher_icon_pack"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- ADW Launcher -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.icontheme.CHANGES_WITH_MATERIAL_YOU_COLORS" />
                <category android:name="org.icontheme.CHANGES_WITH_DARK_MODE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Apex Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>

            <!-- Atom Launcher -->
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Evie Launcher -->
            <intent-filter>
                <action android:name="is.shortcut.intent.action.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Flick Launcher -->
            <intent-filter>
                <action android:name="com.universallauncher.ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- GO Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Holo Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.fede.launcher.THEME_ICONPACK" />
            </intent-filter>

            <!-- Hyperion Launcher -->
            <intent-filter>
                <action android:name="projekt.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- KISS Launcher -->
            <intent-filter>
                <action android:name="fr.neamar.kiss.ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Lawnchair Launcher 14 -->
            <intent-filter>
                <action android:name="app.lawnchair.icons.THEMED_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Lawnchair Launcher Legacy -->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />
                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>

            <!-- LG Home -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lge.launcher2.THEME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- LineageOS Launcher -->
            <intent-filter>
                <action android:name="org.lineageos.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Microsoft Launcher -->
            <intent-filter>
                <action android:name="com.microsoft.launcher.icons.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Moto Launcher -->
            <intent-filter>
                <action android:name="com.motorola.launcher.ACTION_ICON_PACK" />
                <action android:name="com.motorola.launcher3.ICON_PACK_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Nine Launcher -->
            <intent-filter>
                <action android:name="com.gridappsinc.launcher.theme.apk_action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Nova Launcher -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>

            <!-- OnePlus Launcher -->
            <intent-filter>
                <action android:name="net.oneplus.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Poco Launcher -->
            <intent-filter>
                <action android:name="com.miui.home.icons.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Posidon Launcher -->
            <intent-filter>
                <action android:name="posidon.launcher.ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- TSF Shell -->
            <intent-filter>
                <action android:name="com.tsf.shell.themes" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Turbo Launcher -->
            <intent-filter>
                <action android:name="com.phonemetra.turbo.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Trebuchet (CyanogenMod/LineageOS Launcher) -->
            <intent-filter>
                <action android:name="com.cyanogenmod.trebuchet.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- V Launcher -->
            <intent-filter>
                <action android:name="com.vivid.launcher.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Zero Launcher -->
            <intent-filter>
                <action android:name="com.zeroteam.zerolauncher.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Random and Other Launchers -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <action android:name="mobi.bbase.ahome.THEME" />
                <action android:name="com.rogro.GDE.THEME.1" />
                <action android:name="com.android.dxtop.launcher.THEME" />

                <category android:name="com.fede.launcher.THEME_ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <action android:name="mobi.bbase.ahome.THEME" />
                <action android:name="com.rogro.GDE.THEME.1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="cdproductions.crazyicons.TWO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cyou.cma.clauncher.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.BUBBLESTYLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.BUBBLEICONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.CLOCKS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.CLOCKFONTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>